<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add/modify Users</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link href="#" th:href="@{/css/style.css}" rel="stylesheet" />
</head>
<body>

<div class="jumbotron">
    <div class="container">
        <h1>User Form</h1>
        <br/>
        <form action="#" th:action="@{/users/adduser}" th:object="${userModel}" method="post">
            Username:
                      <input type="text" class="form-control" disabled="true" th:if="${userModel.username != none}" th:field="*{username}" th:value="${username}"></input>
                      <input type="hidden" class="form-control" th:field="*{username}" th:value="${username}"></input>
                      <input type="text" class="form-control" th:if="${userModel.username == none}" th:field="*{username}" th:value="${username}"></input>
            <br/>
            Password: <input type="text" class="form-control" th:field="*{password}" th:value="${password}"></input>
            <br/>
            Enabled: <input type="checkbox" name="enabled" class="form-control" th:field="*{enabled}" th:value="${enabled}"></input>
            <br/>
            <br/>
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept
            </button>

        </form>
        <a href="#" th:href="@{/users/cancel}">
            <button class="btn btn-lg btn-primary btn-block" type="submit">
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
            </button>
        </a>
    </div>
</div>

</body>
</html>